body {
    background: #f8dddf94;
    font-family: verdana;
    max-width: 900px;
    margin: auto;
}

#title, .subtitle, .post_title {
    color: rgb(243, 82, 189);
}

#title {
    fonte-size: 40px;
    text-transform: uppercase;
}

.post_title {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px; 
}

.post{
    background: white;
    padding: 15px;
    border: 3px dashed rgba(0, 0, 0, 0.39);
    margin-bottom: 15px;
    border-radius: 5px;
}

.post_content {
    margin: 0;
    margin-bottom: 15px; 
    text-align: justify;
}

.post_image {
    margin-bottom: 15px;
    width: 100%;
}

.foto_perfil {
    border-radius: 50px;
    margin-top: 10px;
    border: 1px solid rgba(0, 0, 0, 0.39);
}

.lista {
    list-style-type: none;
    padding: 0;
}

.footer {
    border-top: 1px solid rgba(0, 0, 0, 0.39);
}